@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
  font-size: $font-size;
}

body {
  background-color: $color-bg-black;
  color: $color-font-white;
  -webkit-font-smoothing: $font-smoothing;
  font-smoothing: $font-smoothing;
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;
  line-height: $line-height;
  word-wrap: break-word;
}
