doctype
html(lang='ja')
  head
    include _gtag
    include _meta

  body
    .container
      h1.title
        span.title_text
          | otsukayuhi.app
      ul.list
        li.item
          a(href="https://twitter.com/otsukayuhi" target="_blank")
            | Twitter
        li.item
          a(href="https://qiita.com/otsukayuhi" target="_blank")
            | Qiita
        li.item
          a(href="https://github.com/otsukayuhi" target="_blank")
            | GitHub
        li.item
          a(href="https://note.mu/otsukayuhi" target="_blank")
            | note
        li.item
          a(href="https://otsukayuhi.hatenablog.com/" target="_blank")
            | Blog
        li.item
          a(href="https://www.un-t.com/")
            | Works